apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}-service
  labels:
    app: {{ .Values.name }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.name }} # This MUST match the 'labels' in your deployment.yaml
  ports:
    - protocol: TCP
      port: 80         # The port users will use to talk to the service
      targetPort: 8080 # The port your jhttp app is actually listening on
